<h1 class="text-center sm:text-left sm:flex-grow">music_portfolio</h1>
<%= react_component("MusicPortfolio", props: @music_portfolio_props, prerender: false) %>

<!--<%= content_tag :div,id: "appointments_data",data: @appointments.to_json do %><% end %>