<h1>Editing fm oscillator</h1>

<%= render "form", fm_oscillator: @fm_oscillator %>

<br>

<div>
  <%= link_to "Show this fm oscillator", @fm_oscillator %> |
  <%= link_to "Back to fm oscillators", fm_oscillators_path %>
</div>
