<!DOCTYPE html>
<html>
  <head>
    <title>Music Portfolio</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'music-portfolio-bundle' %>
    <%= stylesheet_pack_tag 'music-portfolio-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
